<div class="ilc-card">
     <div class="loader"><img src="http://storage.ansys.com/staticfiles/ansys/img/interface/loading.gif" alt="loading"></div>
     <h2 class="title">

     </h2>
     <div class="trad">

     </div>
     <button class="btn btn-success" id="learned">Learned</button>
     <button class="btn btn-danger" id="forgot">I forgot</button>
     <button class="btn" id="next">Next</button>
     <input type="hidden" id="hanziId" name="hanziId" value="">
</div>