<section id="dictionary">
<div class="col-lg-4">
     	 <h3>Search for new words</h3>
</div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="clearfix"></div>
</section>