<div class="col-lg-2 no-select" style="padding-top:250px;padding-left:150px;padding-right:0;font-size:3em;">
      <span id="previous" class="glyphicon glyphicon-circle-arrow-left" style="cursor:pointer"></span>
</div>

<div class="col-lg-8" id="flashcards">
     <%- bodycard %>
</div>

<div class="col-lg-2 no-select" style="padding-top:250px;padding-left:35px;padding-right:0;font-size:3em;">
     <span id="next" class="glyphicon glyphicon-circle-arrow-right" style="cursor:pointer"></span>
</div>