<div class="col-lg-2 no-select" style="padding-top:250px;padding-left:150px;padding-right:0;font-size:3em;">
      <span id="previous" class="glyphicon glyphicon-circle-arrow-left" style="cursor:pointer"></span>
</div>

<div class="col-lg-8" id="flashcards">
     <div class="loader"><img src="http://storage.ansys.com/staticfiles/ansys/img/interface/loading.gif" alt="loading"></div>
</div>

<div class="col-lg-2 no-select" style="padding-top:250px;padding-left:35px;padding-right:0;font-size:3em;">
     <span id="next" class="glyphicon glyphicon-circle-arrow-right" style="cursor:pointer"></span>
</div>


<script>

function levenshtein(s1, s2) {
 
    if (s1 == s2) {
        return 0;
    }
 
    var s1_len = s1.length;
    var s2_len = s2.length;
    if (s1_len === 0) {
        return s2_len;
    }
    if (s2_len === 0) {
        return s1_len;
    }
 
    // BEGIN STATIC
    var split = false;
    try{
        split=!('0')[0];
    } catch (e){
        split=true; // Earlier IE may not support access by string index
    }
    // END STATIC
    if (split){
        s1 = s1.split('');
        s2 = s2.split('');
    }
 
    var v0 = new Array(s1_len+1);
    var v1 = new Array(s1_len+1);
 
    var s1_idx=0, s2_idx=0, cost=0;
    for (s1_idx=0; s1_idx<s1_len+1; s1_idx++) {
        v0[s1_idx] = s1_idx;
    }
    var char_s1='', char_s2='';
    for (s2_idx=1; s2_idx<=s2_len; s2_idx++) {
        v1[0] = s2_idx;
        char_s2 = s2[s2_idx - 1];
 
        for (s1_idx=0; s1_idx<s1_len;s1_idx++) {
            char_s1 = s1[s1_idx];
            cost = (char_s1 == char_s2) ? 0 : 1;
            var m_min = v0[s1_idx+1] + 1;
            var b = v1[s1_idx] + 1;
            var c = v0[s1_idx] + cost;
            if (b < m_min) {
                m_min = b; }
            if (c < m_min) {
                m_min = c; }
            v1[s1_idx+1] = m_min;
        }
        var v_tmp = v0;
        v0 = v1;
        v1 = v_tmp;
    }
    return v0[s1_len];
}


$(document).ready(function () {

var learned = <%- JSON.stringify(user.learned) %>;
var alreadylearned = "";

$.getJSON( "/hanzi", function( json ) {
	   console.log( "success" );
}).done(function(json){

    $.each(json, function(idx, rec){
	console.log(rec);
	if (jQuery.inArray( rec._id, learned ) > -1)
	   alreadyLearned = "<div class='l-ok'><span class='glyphicon glyphicon-ok'></span></div>";
	else
  	   alreadyLearned = "";

	$( '<div class="card close">' )
	   .attr( "id", rec._id )
	   .appendTo( "#flashcards" )
	   .append('<div class="front"><h2>'+rec.chs+'</h2><div class="tbl-chars"><ul class="characters">'+
	   		 '<li><div class="test">ā</div></li>'+
			 '<li><div class="test">á</div></li>'+
			 '<li><div class="test">ǎ</div></li>'+
			 '<li><div class="test">à</div></li>&nbsp;'+
 			 '<li><div class="test">ē</div></li>'+
                         '<li><div class="test">é</div></li>'+
                         '<li><div class="test">ě</div></li>'+
                         '<li><div class="test">è</div></li>&nbsp;'+
			 '<li><div class="test">ī</div></li>'+
                         '<li><div class="test">í</div></li>'+
                         '<li><div class="test">ǐ</div></li>'+
                         '<li><div class="test">ì</div></li>&nbsp;'+
                         '<li><div class="test">ō</div></li>'+
                         '<li><div class="test">ó</div></li>'+
                         '<li><div class="test">ǒ</div></li>'+
                         '<li><div class="test">ò</div></li>&nbsp;'+
			 '<li><div class="test">ū</div></li>'+
                         '<li><div class="test">ú</div></li>'+
                         '<li><div class="test">ǔ</div></li>'+
                         '<li><div class="test">ù</div></li>&nbsp;'+
			 '<li><div class="test">ǖ</div></li>'+
                         '<li><div class="test">ǘ</div></li>'+
                         '<li><div class="test">ǚ</div></li>'+
                         '<li><div class="test">ǜ</div></li>'+
			 '</ul></div><br>'+
			 '<input type="text" class="form-control pinyin" placeholder="Pinyin"><br>'+
			 '<input class="form-control trad" type="text" placeholder="Traduction"><br>'+
			 '<button class="flipcard">Flip card</button>&nbsp;'+
			 '<button class="validate">Validate Pinyin</button>&nbsp;'+
			 '<button class="ko-know">I don\'t know</button>'+
			 '<div class="learned">'+ alreadyLearned +'</div></div>'+
			 '<div class="back"><h2 class="res-pinyin">'+ rec.pinyin + '</h2><h3 class="res-trad">' + rec.translation_en  +'</h3></div>');
    	});
    
    
    $(".card").first().removeClass("close").addClass("open");
    $(".loader").hide();
    var random_index = Math.floor(Math.random()*json.length);
    var item = json[random_index];
     $(".test").draggable({helper: 'clone'});
     $("input").droppable({
     drop: function(event, ui) {
     	   console.log($(this).attr("id"));
     	   console.log(ui.draggable.text());
	   $(this).val($(this).val() + ui.draggable.text());
     }
});

    });

     $(document).on( 'click', 'input',function(e){
         e.preventDefault();
    	  e.stopPropagation();
      });

      /*
    $(document).on( 'click', '.front',function(e){
         $( this ).toggleClass( "fade" );
    });
    */
    
     $(document).on( 'click', '.flipcard',function(e){
     		     $('.open .front').addClass( "fade" );
      });

      $(document).on( 'click', '.back',function(e){
                     $('.open .front').removeClass( "fade" );
      });
    

    $(document).on( 'click', '#next',function(e){

 	 if ($( ".open" ).next().length > 0)
 	    $( ".open" ).addClass("close").removeClass("open").next().removeClass("close").addClass("open");
	 else{
	     $( ".open" ).addClass("close").removeClass("open");
	     $( ".card" ).first().removeClass("close").addClass("open");
	 }
	 $( "input" ).val('');
    });

    $(document).keydown(function(e){
    if (e.keyCode == 37) { 
        if ($( ".open" ).prev().length > 0 && $( ".open" ).prev().hasClass('loader') == false)
            $( ".open" ).addClass("close").removeClass("open").prev().removeClass("close").addClass("open");
         else{
             $( ".open" ).addClass("close").removeClass("open");
             $( ".card" ).first().removeClass("close").addClass("open");
         }
         $( "input" ).val('');
    }
     if (e.keyCode == 39) {
         if ($( ".open" ).next().length > 0)
            $( ".open" ).addClass("close").removeClass("open").next().removeClass("close").addClass("open");
         else{
             $( ".open" ).addClass("close").removeClass("open");
             $( ".card" ).first().removeClass("close").addClass("open");
         }
         $( "input" ).val('');

    }
    });
    
    $(document).on( 'click', '#previous',function(e){
        if ($( ".open" ).prev().length > 0 && $( ".open" ).prev().hasClass('loader') == false)
            $( ".open" ).addClass("close").removeClass("open").prev().removeClass("close").addClass("open");
         else{
             $( ".open" ).addClass("close").removeClass("open");
             $( ".card" ).first().removeClass("close").addClass("open");
         }
	 $( "input" ).val('');
    });
    
    $(document).on( 'click', '.validate',function(e){
     	  e.preventDefault();
          e.stopPropagation();
	  if ( $('.open .pinyin').length < 0 || $('.open .trad').length < 0 )
	     alert("All fields must be filled");
	  else{
		console.log($('.open .pinyin').val().toLowerCase()+"-> "+$('.open .res-pinyin').text().toLowerCase());
	    	var l = levenshtein($('.open .pinyin').val().toLowerCase(), $('.open .res-pinyin').text().toLowerCase());
		var res = (l /  $('.open .res-pinyin').text().length) * 100;
		console.log(res + "+" + $('.open .res-pinyin').text().length);
		if (res == 0){
		
		 var hid = $('.open').attr("id"); 
		 alert("Perfect");
		 $.ajax({
			type: "POST",
  		 	url: '/api/<%= user._id %>/addLearned/'+hid,
			contentType: 'application/json; charset=utf-8',
                	dataType: 'json',
		 });
		$('.open .learned').append("<div class='l-ok'><span class='glyphicon glyphicon-ok'></span></div>");
		}
		else if (res <= 50)
		 alert("You are close");
		else
		 alert("False!");	
	  } 
     });

     


});
 
</script>