<!DOCTYPE html>
<html lang="en">

<head>
    <title>ILC V2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/dist/ilc.min.css">
</head>

<body>

	<!-- HEADER NAV -->
	<section id="head">
		<div class="container">
		    <nav class="navbar navbar-default" role="navigation">
		       
		        <div class="container-fluid">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="#">iLearnChinese <span class="reg">&reg;</span></a>
		            </div>

		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav">
		                    <li><a href="#"><span class="menu-title">Explore</span><br>goals and coaching options</a></li>
		                    <li><a href="#"><span class="menu-title">Community</span><br>Tools &amp; freewares</a></li>
		                </ul>
		                <ul class="nav navbar-nav navbar-right">
		                	<li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="menu-title">Login</span><br></a></li>
		                    <li><a href="#"><span class="menu-title">Contact us</span><br></a></li>
		                </ul>
		            </div>
		            <!-- /.navbar-collapse -->
		        </div>

		    </nav>
		</div>
	</section>

	<!-- HERO -->
	<section id="hero">
		<div class="container ilc-brand">
			<div class="big">
				<div class="ilc-icon img-circle">
				</div>
				<h1>Learn Chinese with ease</h1>
				<h2>We have <span class="underline">exercises</span>, <span class="underline">challenges</span> and <span class="underline">playbooks</span> to help you</h2>
			</div>
			<div id="ilc-start">
				<div class="or img-circle">or</div>
				<div class="pull-left"><a href="#" data-toggle="modal" data-target="#login-modal">get started</a></div>
				<div class="pull-right"><a href="#informations">learn more</a></div>
				<div class="clearfix"></div>		
			</div>
		</div>
	</section>

	<!-- INFORMATIONS-->
	<section id="informations">
		<div class="container">

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/noeuro256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique viverra velit quis consectetur. Nulla dapibus lorem non dolor vestibulum, feugiat volutpat diam vehicula. Praesent bibendum mattis elit id mattis. Phasellus vehicula sit amet leo non bibendum. Quisque hendrerit semper ante, non sagittis ligula convallis pretium. Aenean nec adipiscing nulla, eget dictum mi. Nunc tempus mauris et porta porttitor.
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/learn256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique viverra velit quis consectetur. Nulla dapibus lorem non dolor vestibulum, feugiat volutpat diam vehicula. Praesent bibendum mattis elit id mattis. Phasellus vehicula sit amet leo non bibendum. Quisque hendrerit semper ante, non sagittis ligula convallis pretium. Aenean nec adipiscing nulla, eget dictum mi. Nunc tempus mauris et porta porttitor.
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/talk256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique viverra velit quis consectetur. Nulla dapibus lorem non dolor vestibulum, feugiat volutpat diam vehicula. Praesent bibendum mattis elit id mattis. Phasellus vehicula sit amet leo non bibendum. Quisque hendrerit semper ante, non sagittis ligula convallis pretium. Aenean nec adipiscing nulla, eget dictum mi. Nunc tempus mauris et porta porttitor.
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/earth256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique viverra velit quis consectetur. Nulla dapibus lorem non dolor vestibulum, feugiat volutpat diam vehicula. Praesent bibendum mattis elit id mattis. Phasellus vehicula sit amet leo non bibendum. Quisque hendrerit semper ante, non sagittis ligula convallis pretium. Aenean nec adipiscing nulla, eget dictum mi. Nunc tempus mauris et porta porttitor.
				</div>
			</div>

		</div>
	</section>

	<!-- FOOTER -->
	<footer>


	</footer>

	<!-- LOGIN MODAL -->
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="login-modal-label">Login to your account</h4>
		      </div>
		      <div class="modal-body">
		        ILearnChinese is still in alpha and we have only implemented yet the Facebook connect part. However, be sure we don't keep anything about your personal data. Please read <a href="#">our Private Policy</a> for futher informations.
		        <p id="fb-login">
		          <a href="/auth/facebook/"><img src="/public/img/fb-login-button.png" alt="login with facebook"></a>	
		        </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		</div>
	</div>

	<!-- SCRIPTS -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/public/dist/ilc.js"></script>
</body>

</html>
