<!DOCTYPE html>
<html lang="en">

<head>
    <title>ILC - Learn chinese with ease</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/dist/ilc.min.css">
</head>

<body>

	<!-- HEADER NAV -->
	<section id="head">
		<div class="container">
		    <nav class="navbar navbar-default" role="navigation">
		       
		        <div class="container-fluid">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="#">iLearnChinese <span class="reg">&reg;</span></a>
		            </div>

		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav">
		                    <li><a href="#"><span class="menu-title">Explore</span><br>goals and coaching options</a></li>
		                    <li><a href="#"><span class="menu-title">Community</span><br>Tools &amp; freewares</a></li>
		                </ul>
		                <ul class="nav navbar-nav navbar-right">
		                	<li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="menu-title">Login</span><br></a></li>
		                    <li><a href="#"><span class="menu-title">Contact us</span><br></a></li>
		                </ul>
		            </div>
		        </div>

		    </nav>
		</div>
	</section>

	<!-- HERO -->
	<section id="hero">
		<div class="container ilc-brand">
			<div class="big">
				<div class="ilc-icon img-circle">
				</div>
				<h1>Learn Chinese with ease</h1>
				<h2>We have <span class="underline">exercises</span>, <span class="underline">challenges</span> and <span class="underline">playbooks</span> to help you</h2>
			</div>
			<div id="ilc-start">
				<div class="or img-circle">or</div>
				<div class="pull-left"><a href="#" data-toggle="modal" data-target="#login-modal">get started</a></div>
				<div class="pull-right"><a href="#informations">learn more</a></div>
				<div class="clearfix"></div>		
			</div>
		</div>
	</section>

	<!-- INFORMATIONS-->
	<section id="informations">
		<div class="container">

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/noeuro256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					We are small enthusiastic team of multinational and multicultural individuals united by our vision of a more interconnected global community. Our goal is to find better ways to bridge social connections and share knowledge across national and linguistic boundaries.This is our mission and our passion. That's why <b>ILearnChinese</b> is free and it always will be !
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/learn256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					As the world becomes more globalized and its citizens increasingly mobile, people often can find themselves new in town, lost in translation ? Or you are looking for some help with that chinese recipe you just cannot perfect? With the <b>ILearnChinese</b> extensive search function and geolocalized profiles, connecting with the right person has become as easy as one, two, three.
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/talk256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					As the world becomes more globalized and its citizens increasingly mobile, people often can find themselves new in town, lost in translation ? Or you are looking for some help with that chinese recipe you just cannot perfect? With the <b>ILearnChinese</b> extensive search function and geolocalized profiles, connecting with the right person has become as easy as one, two, three.
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ilc-info">
				<div class="ilc-pcircle">
					<img src="/public/img/earth256.png" class="img-responsive img-circle" alt="info1">
				</div>
				<div class="content">
					At <b>ILearnChinese</b> we understand that it can be difficult to reach out to new people in our increasingly mobile world, especially when those within your social circles might not share your interests. Spikit is here to simplify your search so that you can focus on the FUN and learn chinese with people who can help you.
				</div>
			</div>

		</div>
	</section>

	<!-- FOOTER -->
	<footer>


	</footer>

	<!-- LOGIN MODAL -->
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="login-modal-label">Login to your account</h4>
		      </div>
		      <div class="modal-body">
		        ILearnChinese is still in alpha and we have only implemented yet the Facebook connect part. However, be sure we don't keep anything about your personal data. Please read <a href="#">our Private Policy</a> for futher informations.
		        <p id="fb-login">
		          <a href="/auth/facebook/"><img src="/public/img/fb-login-button.png" alt="login with facebook"></a>	
		        </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		</div>
	</div>

	<!-- SCRIPTS -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/public/dist/ilc.js"></script>
</body>

</html>
