
<div style="padding:20px">
<% for(var i=0; i<cat.categories.length; i++) {%>
   <div class="col-lg-2">
       <div class="dashboard-elem" id="<%=cat.categories[i].tagName%>">
         <h4>Level</h4>
         <div class="p-inside">
          <span><%=cat.categories[i].levelName%></span>
         </div>
        <p class="inside"><%=cat.categories[i].levelDesc%></p>
        <div class="meter">
             0/50
        </div>
       </div>
    </div>

<% } %>
</div>