
<div style="padding:20px">

<div>
    <div class="col-lg-2">
       <div class="dashboard-elem" id="HSK1">
       	 <h4>Level</h4>
	 <div class="p-inside">
	  <span>HSK-1</span>
	 </div>
	<p class="inside">Start Easy</p>
	<div class="meter">
	     0/50
	</div>	
       </div>
    </div>
    <div class="col-lg-2">
       <div class="dashboard-elem">
         <h4>Level</h4>
         <div class="p-inside">
          <span>HSK-2</span>
         </div>
        <p class="inside">Let's rollin'</p>
        <div class="meter">
             0/100
        </div>
       </div>
    </div>
<div class="col-lg-2">
       <div class="dashboard-elem">
         <h4>Level</h4>
         <div class="p-inside">
          <span>HSK-3</span>
         </div>
        <p class="inside">Easy routine</p>
        <div class="meter">
             0/200
        </div>
       </div>
    </div>
<div class="col-lg-2">
       <div class="dashboard-elem">
         <h4>Level</h4>
         <div class="p-inside">
          <span>HSK-4</span>
         </div>
        <p class="inside">Death Row</p>
        <div class="meter">
             0/400
        </div>
       </div>
    </div>
<div class="col-lg-2">
       <div class="dashboard-elem">
         <h4>Level</h4>
         <div class="p-inside">
          <span>U-1</span>
         </div>
        <p class="inside">Useful Language 1</p>
        <div class="meter">
             0/50
        </div>
       </div>
    </div>
<div class="col-lg-2">
       <div class="dashboard-elem">
         <h4>Level</h4>
         <div class="p-inside">
          <span>U-2</span>
         </div>
        <p class="inside">Useful Language 2</p>
        <div class="meter">
             0/50
        </div>
       </div>
    </div>

    </div>

    
</div>

</div>