body {
  font-family: 'Lato', sans-serif;
}
span.reg {
  font-size: 0.5em;
}
body.modal-open {
  overflow-y: scroll;
  margin: 0;
}
body.modal {
  overflow: auto;
}
section#head {
  background-color: #eff6fc;
  -webkit-box-shadow: 0 4px 4px -2px #bbb;
  -moz-box-shadow: 0 4px 4px -2px #bbb;
  box-shadow: 0 4px 4px -2px #bbb;
  position: relative;
  z-index: 20;
}
div#login-modal #fb-login {
  text-align: center;
}
div#login-modal #fb-login img {
  width: 200px;
}
section#head .navbar {
  margin: 0;
  border: 0;
  background-color: transparent;
  padding: 15px 0 15px 0px;
}
section#head .navbar ul.nav li a {
  padding: 20px;
}
section#head .navbar ul.nav li .menu-title {
  color: #e67e22;
  font-size: 1.1em;
  font-weight: bold;
}
section#head .navbar-default .navbar-brand {
  color: #666;
  font-size: 1.7em;
  border-right: 1px solid #ddd;
  margin-top: 15px;
  font-family: 'Merienda', cursive;
  font-weight: bold;
}

header#main-header .navbar-default .navbar-brand {
  color: #666;
  font-size: 1.7em;
  font-family: 'Merienda', cursive;
  font-weight: bold;
}


section#hero {
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url("/backgroundsize.min.htc");
  background-position: center;
  height: 38em;
  padding-top: 4em;
  width: 100%;
}
section#hero .ilc-brand {
  color: #fff;
  text-align: center;
}
section#hero .ilc-brand .big h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4.5em;
  font-weight: bold;
  text-shadow: 2px 2px #555;
}
section#hero .ilc-brand .big h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.9em;
  text-shadow: -1px 1px #333;

}
section#hero .ilc-brand .big .underline {
  border-bottom: 2px solid #fff;
}
section#hero .ilc-brand .big .ilc-icon {
  width: 150px;
  height: 150px;
  border: 3px solid rgba(255,255,255,0.2);
  margin: 0 auto;
  background-image: url("../img/front256.png");
  background-size: contain;
}
section#hero .ilc-brand #ilc-start {
  border: 5px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
}
section#hero .ilc-brand #ilc-start a {
  color: #fff;
}
section#hero .ilc-brand #ilc-start .pull-left {
  background-color: #e67e22;
  padding: 15px;
  width: 50%;
  font-weight: 900;
  text-transform: uppercase;
}
section#hero .ilc-brand #ilc-start .pull-right {
  background-color: #f39c12;
  padding: 16px;
  width: 50%;
  font-weight: 400;
  font-size: 0.9em;
  text-transform: uppercase;
}
section#hero .ilc-brand #ilc-start .or {
  position: absolute;
  margin-left: 157px;
  margin-top: 14px;
  width: 25px;
  height: 25px;
  background-color: #d35400;
  color: #f39c12;
  padding-top: 1px;
  font-weight: bold;
  -moz-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset -2px -1px 1px rgba(0,0,0,0.1);
  box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
}
section#informations {
  background-color: #eee;
}
section#informations .ilc-info .ilc-pcircle {
  padding: 50px;
}
section#informations .ilc-info .ilc-pcircle img {
  border: 4px solid rgba(255,255,255,0.7);
}
section#informations .ilc-info .content {
  text-align: justify;
}
/* GENERAL LAYOUT */
header#main-header {
  background-color: #eff6fc;
  -webkit-box-shadow: 0 4px 4px -2px #aaa;
  -moz-box-shadow: 0 4px 4px -2px #aaa;
  box-shadow: 0 4px 4px -2px #aaa;
  position: relative;
  z-index: 20;
}
header#main-header .navbar {
  margin: 0;
  border: 0;
  background-color: transparent;
}
header#main-header .navbar ul.nav li .menu-title {
  color: #e67e22;
  font-size: 1.1em;
  font-weight: bold;
}
header#main-header .navbar-default .navbar-brand {
  color: #666;
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 20px;
}
header#main-header .navbar ul.nav .ajst {
  padding-top: 10px;
}
header#main-header .navbar ul.nav .ajst a {
  padding: 15px 10px;
  color: #999;
}
header#main-header .navbar .ilc-head-icon,
header#main-header .navbar .ilc-head-icon-circle {
  position: relative;
  margin: 0;
  padding: 0;
}
header#main-header .navbar .ilc-head-icon-circle {
  text-align: center;
}
header#main-header .navbar .ilc-head-icon-circle span.glyphicon {
  font-size: 1.5em;
}
header#main-header .navbar .ilc-head-icon span.glyphicon {
  font-size: 1.6em;
}
header#main-header .navbar .ilc-head-icon .count {
  position: absolute;
  background-color: #e67e22;
  width: 23px;
  height: 23px;
  color: #fff;
  top: -10px;
  right: -10px;
  padding-left: 6px;
  font-weight: bold;
  font-size: 0.8em;
  border: 2px solid #eff6fc;
}
/* LEFT MENU */
section#menu-left .menu {
  height: 800px;
  min-height: 100%;
  background-color: #32353a;
  position: relative;
  z-index: 21;
  padding: 0;
}
section#menu-left .menu h1 {
  text-align: center;
  color: #989ba0;
}
section#menu-left .menu ul {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  color: #989ba0;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}
section#menu-left .menu ul li {
  padding: 20px;
}
section#menu-left .menu ul li .icon {
  font-size: 1.2em;
  font-weight: bold;
}
section#menu-left .menu ul li a {
  color: #989ba0;
}
section#menu-left .menu ul li:hover,
section#menu-left .menu ul li.active {
  background-color: #1e202c;
  color: #fff;
}
section#menu-left .menu ul .badge {
  background-color: #e67e22;
  margin-left: 10px;
}
section#menu-left .menu ul li:hover a {
  color: #fff;
}
section#menu-left .content {
  height: 800px;
  min-height: 100%;
  background-color: #f6f6f6;
  padding-top: 20px;
}
section#menu-left .content div.prog .inner,
section#menu-left .content div.activity .inner {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  padding-left:15px;
  padding-right: 15px;
}

section#menu-left .content div.prog .inner ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

section#menu-left .content div.prog .inner li{
	padding: 10px;
	margin-top: 10px;
}

section#menu-left .content div.prog .inner li .img img{
	width:70px;
}

section#menu-left .content div.prog .inner li .text{
	padding-top: 20px;
}

section#menu-left .content h2 {
  color: #bbb;
  font-size: 1.2em;
  text-transform: uppercase;
}
section#menu-left .content .sep {
  border-bottom: 2px solid #e67e22;
  margin: 5px 0 5px 0;
}

.ilc-card{
    width:100%;
    min-height:300px;
    background-color:#fff;
    padding:20px;
    position:relative;
}

.ilc-card .loader{
    position : absolute;
    top: 100px;
    left:40%;
 }

section#menu-left .content .ilc-card h2.title{
    font-size:6em;
    font-weight:bold;
    text-align:center;
 }
section#menu-left .content .ilc-card h2.isLearned{
    color:#27ae60;
 }